@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

/* Page Structure */

body {
  margin: 0;
  height: 100%;
  width: 100%;

  font-family: "Poppins";
}

main {
  text-align: center;
  color: white;
  height: 100%;
}

.row {
  height: 96vh;
  padding-bottom: 3vh;
  padding-top: 3vh;
  padding-left: 3vh;
  padding-right: 3vh;
}

.col {
  height: 100%;
}

.col .block {
  height: 100%;
}

/* General */

/* News */

.news {
  height: 44vh;
}

.news h2 {
  font-size: 1.6em;
}

.news h3 {
  font-size: 0.8em;
}

.news a {
  color: #bbbbbb;
}

.news .headline {
  color: white;
  text-align: left;
  font-size: 0.8em;
  padding-top: 0.5em;
}

.news .headline {
  color: #bbbbbb;
}

/* Stocks */

.stocks {
  height: 44vh;
}

/* Caption */

.caption {
  height: 6vh;
  text-align: center;
}

.caption a {
  color: #6c757d;
}

.caption a::before {
  background-color: #6c757d;
}

/* Greeting */

.greeting {
  height: 76vh;
}

.greeting h1 {
  font-size: 10em;
}

.greeting h2 {
  font-size: 1.6em;
}

/* Favorites */

.favorites {
  height: 20vh;
}

/* Weather */

.weather {
  height: 88vh;
}

/* Settings */

.settings {
  height: 6vh;
}

.settings i {
  font-size: 2em;
}

/* Wallpaper */

.wallpaper {
  z-index: -1;
  filter: blur(1.5px);
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url("https://source.unsplash.com/collection/214321/1920x1080/daily");
  background-size: cover;
}

/* Link Hover Effect */

a {
  text-decoration: none;
  position: relative;
}

a:hover {
  text-decoration: none;
  color: white !important;
  transition: all 0.3s;
}
